* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Open Sans';
}

.container {
    position: relative;
    width: 100%;
}

.inv-menu {
    position: fixed;
    width: 200px;
    height: 100%;
    background-color: #001529;
}

.inv-menu li:nth-child(1) {
    margin-bottom: 40px;
}

.inv-menu li a {
    position: relative;
    display: block;
    width: 100%;
    display: flex;
    text-decoration: none;
    color: white;
}

.inv-menu ul li a .title {
    position: relative;
    display: block;
    height: 25px;
    line-height: 10px;
}

.container2 {
    padding-left: 150px;
}

.title2 {
    display: flex;
    justify-content: center;
    width: 545px;
    padding: 45px;
    color: #8A95A6;
}

.card {
    display: flex;
    justify-content: space-between;
    padding: 110px;
}

.card1, .card2, 
.card3, .card4 {
    height: 158px;
    width: 240px;
    background-color:#5E78FF;
    border: 0;
    border-radius: 8px;
}

.aba2 {
    display: flex;
    justify-content: center;
    width: 1114px;
    height: 336px;    
    padding: 45px;
}

.title3 {
    display: flex;
    justify-content: flex-start;
    color: #8A95A6;
    width: 80%;
    right: 100%;
}